.page-header, .page-sider {
  background: transparent;
}

.page-header {
  padding: 0;
}

.page-sider {
  padding: 24px;
  border-left: 1px solid #CCC;
}

.page-content {
  padding: 12px 24px 24px 24px;
}

.page-container {
  height: 100%;
}

.code-viewer {
  height: 100%;
}

.page-tabs {
  height: 100%;
}

.page-tabs .ant-tabs-content-holder {
  overflow: auto;
}