.page-header, .page-sider {
  background: transparent;
}

.page-header {
  padding: 0;
}

.page-sider {
  padding: 24px;
  border-left: 1px solid #CCC;
}

.page-content {
  padding: 0 24px;
}

.page-container {
  height: 100%;
}