.progress-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
  /* background: #FFF; */
  color: #777;
}

.progress-card .progress-card-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.progress-card label {
  color: rgba(0, 0, 0, 0.85);
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 500;
}

.progress-card .big-icon {
  font-size: 75px;
  margin-right: 24px;
}
